---
sitemap:
  exclude: "yes"
---
@charset "utf-8";
// @import "/Library/Ruby/Gems/2.0.0/gems/font-awesome-sass-4.1.0/vendor/assets/stylesheets/font-awesome";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$dark-grey: #95989A;
$green: #34880C;
$blue: #0A9BCC;
$white: #ffffff;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.btImages {
  display: inline-block;
  max-width: 247px;
  max-height: 247px;
}
.topBuffer{
  padding-top: 33%;
}
section{
  padding-top: 6%;
  padding-bottom: 6%;
}
//override
a{
  color: $dark-grey;
  font-size: 30px;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';

}
h1{
  font-size: 60px
}
p, div {
    font-family: 'Roboto';
    padding-bottom: 25px
}
body {
  font-size: 16px;
}
.greenSection {
  background-color: $green;
  font-color: white;
  color: white;
}
.blueSection {
  background-color: $blue;
  font-color: white;
  color: white;
}
.greySection {
  background-color: $dark-grey;
  font-color: white;
  color: white;
}
.interSection{
  height: 100%;
    background-image: url(../images/interBG.svg);
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:contain;
     background-repeat: no-repeat;
  font-color: white;
  color: white;

}
.greyText{
  font-color: $grey-color !important;
  color: $grey-color;
}
.fiftyPercentPad{
  padding-top: 50%;
}
.whiteText{
  font-color: white !important;
  color: white;
}
.bigSymbol{
  font-size: 125px;
  margin-top: 170%;
}
.centerColThree{
  margin-left: 1.5%;
  margin-right: 0.5%;
}
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
