<div class=" topBuffer container">
  <div class="row vertical-align">
    <div class="col-sm-offset-1 col-sm-2 btImages">
      <a href="{{site.baseurl}}/makeapps"><img class="img-thumbnail" src="../images/makeApps.png"><p class="text-center">Make Apps</p></a>
    </div>
    <div class="col-sm-2 btImages">
      <a href="{{site.baseurl}}/impactYourWorld"><img class="img-thumbnail" src="../images/earth.png"><p class="text-center">Sense and Impact Your World</p></a>
    </div>
    <div class="col-sm-2 btImages">
      <a href="{{site.baseurl}}/expressYourself"><img class="img-thumbnail" src="../images/expressYourself.png"><p class="text-center">Express Yourself</p></a>
    </div>
    <div class="col-sm-2 btImages">
      <a href="{{site.baseurl}}/connectInventions"><img class="img-thumbnail" src="../images/greenBTs.png"><p class="text-center">Connect Your Inventions</p></a>
    </div>
    <div class="col-sm-2 btImages">
      <a href="{{site.baseurl}}/programmingDesigned"><img class="img-thumbnail" src="../images/programDesign.png"><p class="text-center">A Program Made For You</a>
    </div>
  </div>
</div>
