<div class="container">
  <div class="row vertical-align">
    <div class="sm-col-2 btImages">
      <a href="{{site.baseurl}}/makeapps"><img class="img-thumbnail" src="../images/makeApps.png"></a>
    </div>
    <div class="sm-col-2 btImages">
      <a href="{{site.baseurl}}/makeapps"><img class="img-thumbnail" src="../images/earth.png"></a>
    </div>
    <div class="sm-col-2 btImages">
      <a href="{{site.baseurl}}/makeapps"><img class="img-thumbnail" src="../images/expressYourself.png"></a>
    </div>
    <div class="sm-col-2 btImages">
      <a href="{{site.baseurl}}/makeapps"><img class="img-thumbnail" src="../images/greenBTs.png"></a>
    </div>
    <div class="sm-col-2 btImages">
      <a href="{{site.baseurl}}/makeapps"><img class="img-thumbnail" src="../images/programInteractivity.png"></a>
    </div>
  </div>
</div>
